.container{
    width: 60%;
    margin: auto;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

li a {
    background-color: darkblue;
    color: floralwhite;
    width: 10em;
    height: 3rem;
    display: block;
    text-align: center ;
    line-height: 3rem;
}

li a:hover {
    background-color: rgba(0, 0, 45, 0.98);
}